<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Measurement</title>
</head>

<body align ="center">
  <h1>New Measurement</h1>

  <form action="/measurements" method="POST">
    <label for="place">Place:</label>
    <input type="text" id="place" name="measurement[place]" required>
    <br><br>

    <label for="date">Date:</label>
    <input type="text" id="date" name="measurement[date]" required>
    <br><br>

    <label for="value">Value:</label>
    <input type="number" id="value" name="measurement[value]" step="0.1" required>
    <br><br>

    <label for="type">Type:</label>
    <input type="text" id="type" name="measurement[type]" required>
    <br><br>

    <button align="center" type="submit">Add Measurement</button>
  </form>
</body>

</html>
